/* desktop version */

:root {
    --fnt-headline: 'Roboto Serif', sans-serif;
    --fnt-headline2: 'Space Grotesk', sans-serif;
    --fnt-primary: 'Quicksand', sans-serif;
    --clr-lightgray: lightgray;
    --clr-black:black;
    --clr-urgent: rgb(206, 63, 11);
    --clr-white: white;


        /* final clamps for the main header */
    --fnt-mainhead-lh: clamp(2.9rem, 8vw, 8rem);
    --fnt-mainhead: clamp(3.5rem, 10vw, 10rem); 
    --fnt-extinction: clamp(5rem, 14vw, 14rem); 
    --fnt-mainhead-fline-position: clamp(-10rem,-10vw,-4rem);
    --fnt-mainhead-sline-position: clamp(2.2rem,5.5vw,5rem);
    --fnt-mainhead-tline-position: clamp(1rem,3vw,3rem);


    /* 100 years */
    --fnt-100-lh: clamp(5rem, 12vw, 12rem);
    --fnt-hundred: clamp(10rem,28vw,30rem);
    --fnt-years: clamp(2.5rem,8vw,8rem);


    /* box with text */
    --box-width: clamp(10vw,70vw,60rem);
    --box-height: auto;
    --fnt-insidebox: clamp(2rem, 8vw, 8rem);


    --scrollbarBG: #CFD8DC;
    --thumbBG: #90A4AE;
    
}

html {
    font-size: 62.5%;
    /* for smooth scrolling */
    scroll-behavior: smooth;
    scroll-padding: 10rem;
}

body {
    font-size: 1.6rem;
    background: url(./img/film-damage-grain-1.gif);
    font-family: var(--fnt-headline);
    color: var(--clr-white);
    text-transform: uppercase;
    overflow: hidden;
}

/* What is happening  */

body a {
    color: var(--clr-white);
    text-decoration: none;
    font-family: var(--fnt-primary);
}

.pages-header a:hover,
.pages-header a:focus,
.pages-header a:active,
.pages-footer a:hover,
.pages-footer a:focus,
.pages-footer a:active {
    color: var(--clr-urgent);
}

/* positioning the header */

.pages-header, .pages-footer {
    margin: 2rem;
}


.pages-header a, .pages-footer a {
    padding: 1rem;
}

.pages-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.pages-hashtag {
    text-align: center;
    font-weight: 500;

}

.navigation {
    list-style: none;
    z-index: 999;
    display: flex;
    cursor: pointer;
    position: absolute;
    top: 3.5rem;
    left: 40%;
}

.pages-help {
    font-weight: 500;
}


/* positioning the footer */

.pages-footer {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

.pages-footer a {
    padding: 1rem;
}


.pages-copyright {
    font-family: var(--fnt-primary);
    font-size: 1.2rem;
}

.pages-footer {
    display: flex;
    justify-content: space-between;
}


.navigation li {
    width: 1rem;
    height:1rem;
    background: #ccc;
    border: .2rem solid var(--clr-urgent);
    border-radius: 50%;
    margin-right: 2rem; 
    transition: all .3s;
    background: none;
}


.navigation li:hover,
.navigation li.selected {
    background: none;
    transform: scale(1.6);
}

.navigation a {
    position: relative;
    top: -1rem;
    right: 1.2rem;
    padding: 1rem;
    color: transparent;
}


/* bisectional position - main content */

img {
    height: 450px;
    width: 300px;
    object-fit: cover;
    border-radius: 1rem;
    border: 3px solid var(--clr-urgent);
    
}

.midsection {
    height: 70vh;
    gap: 2rem;
    margin: 0 3rem;
    overflow-y: scroll;
    text-align: center;
    
}


section h1 {
    color: var(--clr-urgent);
    font-family: var(--fnt-headline);
    font-size: var(--fnt-mainhead-sline-position);
    margin: auto;
    max-width: 50vw;
    width: 50vw;
}

section p {
    font-family: var(--fnt-headline2);
    color: goldenrod;
    width: 30vw;
    margin: auto;
}

.read-more h1 span {
    display: block;
}

.read-more {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 3rem;
    /* border: 1px solid red; */
}

.tiger-facts:hover,
.tiger-facts:focus,
.tiger-facts:active {
    color: var(--clr-urgent);

}


@media (max-width:1040px){
    
    body{
        max-width: 95%;
        margin: auto;
    }
}

@media (max-width:780px) {

    .navigation {
        top: 12%;
        flex-direction: column;
        left: 3rem;
    }

    .navigation li {
        margin-bottom: 3rem;
    }

    .read-more {
        margin-bottom: 3rem;
    }

    .read-more img {
        display: none;
    }

    img {
        height: 350px;
        width: 250px;
        object-fit: cover;
    }

    section {
        grid-template-columns: 1fr;
        margin-bottom: 0;
        justify-content: space-evenly;
    }

    section p {
        max-width: 90vw;
        width: 70vw;
    }

    




}
