/* desktop version */

:root {
    --fnt-headline: 'Roboto Serif', sans-serif;
    --fnt-headline2: 'Space Grotesk', sans-serif;
    --fnt-primary: 'Quicksand', sans-serif;
    --clr-lightgray: lightgray;
    --clr-black:black;
    --clr-urgent: rgb(206, 63, 11);
    --clr-white: white;


        /* final clamps for the main header */
    --fnt-mainhead-lh: clamp(2.9rem, 8vw, 8rem);
    --fnt-mainhead: clamp(3.5rem, 10vw, 10rem); 
    --fnt-extinction: clamp(5rem, 14vw, 14rem); 
    --fnt-mainhead-fline-position: clamp(-10rem,-10vw,-4rem);
    --fnt-mainhead-sline-position: clamp(2.2rem,5.5vw,5rem);
    --fnt-mainhead-tline-position: clamp(1rem,3vw,3rem);


    /* 100 years */
    --fnt-100-lh: clamp(5rem, 12vw, 12rem);
    --fnt-hundred: clamp(10rem,28vw,30rem);
    --fnt-years: clamp(2.5rem,8vw,8rem);


    /* box with text */
    --box-width: clamp(10vw,70vw,60rem);
    --box-height: auto;
    --fnt-insidebox: clamp(2rem, 8vw, 8rem);
    
}

/* *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
} */

html {
    font-size: 62.5%;
    /* for smooth scrolling */
    scroll-behavior: smooth;
    scroll-padding: 10rem;
}


body {
    font-size: 1.6rem;
    background-color: var(--clr-lightgray);
    
}

/* menu1 */


body {
    font-size: 1.6rem;
    background: url(./img/film-damage-grain-1.gif);
    color: var(--clr-white);
    text-transform: uppercase;
}


body a {
    color: var(--clr-white);
    text-decoration: none;
    font-family: var(--fnt-primary);
}

.pages-header a:hover,
.pages-header a:focus,
.pages-header a:active,
.pages-footer a:hover,
.pages-footer a:focus,
.pages-footer a:active {
    color: var(--clr-urgent);
}

/* positioning the header */

.pages-header {
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pages-header a {
    padding: 1rem;
}

.pages-hashtag {
    text-align: center;
    font-weight: 500;

}

.pages-help {
    font-weight: 500;
}


/* positioning the footer */

.pages-footer {
    display: flex;
    justify-content: space-between;
    margin: 3rem;
}

.pages-footer a {
    padding: 1rem;
}


.pages-copyright {
    font-family: var(--fnt-primary);
    font-size: 1.2rem;
}


.happening, .murder, .help {
    font-family:var(--fnt-headline2);
    font-weight: 600;
}

.what, .stages, .how {
    font-size: var(--fnt-mainhead);
    font-weight: 400;
    font-family: var(--fnt-headline);
}

.number {
    font-size: var(--fnt-mainhead-tline-position);
    font-weight: 700;
    padding: 1rem;
    border: 2px solid var(--clr-white);
}

.part1, .part2{
    margin-bottom: 2rem;
}

.part1:hover .one,
.part1:focus .one,
.part1:active .one{
    color: orangered;
}

.part1:hover .one1,
.part1:focus .one1,
.part1:active .one1 {
    border-color: orangered;
}


.part2:hover .two,
.part2:focus .two,
.part2:active .two{
    color: orange;
}

.part2:hover .two2,
.part2:focus .two2,
.part2:active .two2 {
    border-color: orange;
}


.part3:hover .three,
.part3:focus .three,
.part3:active .three{
    color: green
}

.part3:hover .three3,
.part3:focus .three3,
.part3:active .three3{
    border-color: green
}

.part1 .menu-container-link, .part2 .menu-container-link, .part3 .menu-container-link{
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 2rem;
}

.one-two-three {
    height: 70vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

    @media (max-width:1040px){
    
        body{
            max-width: 95%;
            margin: auto;
        }
    }

    @media (max-width:780px) {
        .part1 .menu-container-link, .part2 .menu-container-link, .part3 .menu-container-link{ 
            display: block;
        }

    }